<header class="h-[72px] flex items-center justify-between px-[24px]">
    <ng-container *ngIf="showCard">
        <app-card [cardIcon]="headerIcon" [cardText]="headerTitle" [isCardOnHeader]="showCard"></app-card>
    </ng-container>
    
    
    <div class="flex items-center gap-[8px] ml-auto">
        <img src="images/icon-sun-dark.svg" alt="" class="w-[16px] h-[16px]">
        <app-switch-button></app-switch-button>
        <img src="images/icon-moon-dark.svg" alt="" class="w-[16px] h-[16px]">
    </div>
</header>