<section class="py-[32px] px-[24px] flex flex-col gap-[40px]">
    <div class="flex flex-col gap-[16px]">
        <h1 class="font-rubik font-light text-[40px] flex flex-col leading-[100%] gap-[8px]">
            Welcome to the 
            <span class="font-medium block leading-[100%]">
                Frontend Quiz!
            </span>
        </h1>
        <p class="font-rubikItalic text-[14px] leading-[150%] text-grey-navy">Pick a subject to get started.</p>
    </div>

    <div class="flex flex-col gap-[12px]">
        <ng-container *ngFor="let quiz of quizzes">
            <app-card [cardText]="quiz.title" [cardIcon]="quiz.icon" [bgColor]="quiz.title"></app-card>
        </ng-container>
        
    </div>

</section>
