<ng-container [formGroup]="formGroup">
    <label
        [for]="answerId"
        [ngClass]="{ 'border-purple': answerId === selectedAnswerId, 'border-white': answerId !== selectedAnswerId }"
        class="p-[10px] border-[3px]  bg-white rounded-lg flex items-center justify-start gap-[16px] w-full cursor-pointer relative focus:outline-none" tabindex="-1"
        >
    
        <span
            [ngClass]="{ 'bg-purple': answerId === selectedAnswerId, 'text-white': answerId === selectedAnswerId }"
            class="text-[18px] font-rubik font-medium bg-light-grey min-w-[40px] p-[5.71px] rounded-lg text-center"
        > {{ answerOption }} </span>
    
        <input
            type="radio"
            [id]="answerId"
            name="answer"
            formControlName="answer"
            class="absolute opacity-0"
            tabindex="0"
            (change)="onChange(answerId)"
        >
        <span class="text-[18px] font-rubik font-medium leading-[100%]">{{ answerText }}</span>

        <ng-container *ngIf="answerId === selectedAnswerId">
            <img *ngIf="answerIsCorrect === true" src="images/icon-correct.svg" alt="" class="ml-auto">
            <img *ngIf="answerIsCorrect === false" src="images/icon-incorrect.svg" alt="" class="ml-auto">
        </ng-container>
        
    </label>
</ng-container>