<ng-container>
    <app-header
        [headerTitle]="_subjectTitle"
        [headerIcon]="subjectIcon"
        [bgColor]="_subjectTitle"
    ></app-header>
</ng-container>
<section class="py-[32px] px-[24px] flex flex-col gap-[40px]">
    <div>
        <span class="font-rubikItalic text-[14px] text-grey-navy leading-[150%]">Question 6 of 10</span>
        <h2 class="font-rubik text-[20px] font-medium leading-[120%] text-dark-navy pt-[12px] pb-[24px]">Which of these color contrast ratios defines the minimum WCAG 2.1 Level AA requirement for normal text?</h2>
        <div class="bg-white w-full h-[16px] rounded-full flex items-center">
            <div class="bg-purple h-[8px] rounded-full w-[152px] m-[4px]"></div>
        </div>
    </div>
    <div class="flex flex-col gap-[12px]">
        <app-card cardText="teste" cardIcon="teste" bgColor="teste"></app-card>
        <app-card cardText="teste" cardIcon="teste" bgColor="teste"></app-card>
        <app-card cardText="teste" cardIcon="teste" bgColor="teste"></app-card>
        <app-card cardText="teste" cardIcon="teste" bgColor="teste"></app-card>
    </div>
</section>
