<form [formGroup]="questionForm" (ngSubmit)="submitAnswer()" class="flex flex-col gap-[12px]">
    <app-answer-option
        *ngFor="let option of question?.options; let i = index"
        [formGroup]="questionForm"
        [answerOption]="convertIndexToLetter(i)"
        [answerText]="option"
        [answerId]="i"
        [selectedAnswerId]="selectedAnswerId"
        (onSelect)="onSelect($event)"
        [answerIsCorrect]="answerIsCorrect"
        [correctAnswerId]="correctAnswerId"
        >
    </app-answer-option>
    
    <app-purple-button type="submit" *ngIf="answerIsCorrect === null" buttonText="Submit Answer"></app-purple-button>
    
    <app-purple-button type="button"
        *ngIf="answerIsCorrect !== null" 
        buttonText="Next Question"
        (click)="goToNextQuestion()"
    ></app-purple-button>
    
    <ng-container *ngIf="showError">
        <p class="flex items-center gap-2 text-tw-red text-[18px] font-rubik justify-center">
            <img src="images/icon-error.svg" alt="" class="w-8 h-8">
            Please select an answer
        </p>
    </ng-container>
</form>